.footer {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;

    &__details {
        
    }

    &__list {
        font-size: 1.2rem;
        list-style: none;
        
        
    }

    &__item {
        margin-bottom: 2rem;
        
    }

    &__link {
        
        text-decoration: none;
        color: $color-grey-dark-2;
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    &__english {
        display: flex;
        align-items: center;
    }

    &__globe {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-2;
    }

    &__list {
        list-style: none;
    }

    &__link {
        font-size: 1.2rem;
        text-decoration: none;
        color: currentColor;
        margin-left: 2rem;
        padding: 2rem 0;
        color: $color-grey-dark-2;
        
    }
}