.vote {
    position: relative;

    &__details {
        display: block;
        color: #fff;
        position: absolute;
        top: 18.5rem;
        left: 11.5rem;
    }

    &__paragraph {
        font-size: 1.5rem;
        width: 45%;
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
}