.section-intro {
    height: 90vh;
    background-image: url(../../img/Xbox-Family.jpeg);
    background-repeat: no-repeat;
    margin-top: -1rem;
}

.section-services {
    margin-top: 5rem;
    margin-bottom: -12rem;
    padding: 1rem 2rem;

}

.section-cards {
    padding: 0 5rem;
}

.section-nextpc {
    height: 100vh;
    margin: 8rem 5rem;
    background-image: url(../../img/lp3.jpeg);
    background-repeat: no-repeat;
}

.section-business {  
    margin-top: -2rem;  
    padding: 0 5rem;
}

.section-vote {
    height: 80vh;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-image: url(../../img/vote.jpeg);
    
}

.section-follow {
    margin-top: 5rem;
    padding: 0 5rem;
}

.section-footer {
    padding: 30px 0px;
    margin-top: 5rem;
    background-color: $color-grey-light-1;
}

   